<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift2MIDI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B065A8DF1B27677E0051D08F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B065A8F31B27677E0051D08F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B065A8FE1B27677E0051D08F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
